* {
	margin:0;
	padding:0;
}
body {
	font-family: 'Raleway', sans-serif;
	overflow-y:scroll;
	overflow-x: hidden;
}
p {
	font-size: 14;
}

/* ========== Header ========== */

.header {
	background-image: url("../images/testimonial-bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% -100px;
}

.header-overlay {
	background-color: rgba(31, 31, 31, .75);
	padding-top: 80px;
	padding-bottom: 80px;
}
/* ========== Profile ========== */
.profile img {
	border: 2px solid #129CF3;
	border-radius: 50%;
	width: 200px;
}
.profile {
	padding-bottom: 150px;
}
.profile-title h2 {
	color: #129CF3;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 30px;
	margin-top: 25px;
}
.profile-title h4 {
	color: #129CF3;
	margin-top: 10px;
}
.profile-title h4 span {
	color:#D8D8D8;
	font-weight: 300;
	font-style: italic;
}
.profile-title p {
	color:#D8D8D8;
	font-size: 18px;
	line-height: 27px;
	padding-top: 50px;
}
