* {
	margin:0;
	padding:0;
}

body {
	font-family: 'Raleway', sans-serif;
	overflow-y:scroll;
	overflow-x: hidden;
}

p {
	font-size: 14;
}

/* ========== Generic CSS ==========  */

.section-title {
	padding-top: 90px;
	padding-bottom: 50px;
}

.section-title h2 {
	position: relative;
	text-align: center;
	color: #333;
	font-size: 30px;
	font-weight: 400px;
	text-transform: uppercase;
}

.section-title p {
	color: #333;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	text-align: center;
	margin-top: 45px;
}

.section-title h2:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	width: 60px;
	height: 1px;
	background-color: #129CF3;
	margin-left: -30px;
}

/* =========== Navigation ============ */

.navbar-default {
/*    background-color: transparent;*/
    background-color: rgba(59, 59 , 59, 0.7);
    opacity: 1;
    border-color: #444;
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > li > a {
    color: #B5B5B5;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.navbar-default .navbar-nav > li > a:hover {
    color: #129CF3;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #B5B5B5;
}
.navbar-default .navbar-nav > .active>a, 
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus {
    background-color: transparent;
    color: #129CF3;
} 
.navbar-header {
	width: 150px;
	padding: 9px
}

/* ========== Header ========== */

.header {
	background-image: linear-gradient(rgba(31, 31, 31, 0.7), rgba(31, 31, 31, 0.7)),url("../images/chicago.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 115%;
}

/*.header-overlay {
	background-color: rgba(31, 31, 31, .75);
	padding-top: 80px;
	padding-bottom: 80px;
}*/

/* ========== Profile ========== */

.profile img {
	border: 2px solid #129CF3;
	border-radius: 50%;
	width: 200px;
}

.profile {
	padding-bottom: 150px;
}

.profile-title h2 {
	color: #129CF3;
	text-transform: uppercase;
	font-weight: 900;
  font-size: 30px;
  margin-top: 25px;
}

.profile-title h4 {
  font-size: 24px;
  color:#D8D8D8;
  margin-top: 30px;
}

.profile-title h4 span {
  color: #129CF3;
	font-size: 24px;
	font-weight: 300;
}

.profile-title p {
	color:#D8D8D8;
	font-size: 18px;
	line-height: 27px;
	padding-top: 50px;
}



/* ========= Project =========*/
.project-container {
	padding-bottom: 70px;
}

.project-title {
	margin-top: 0;
}
.project-info-container {
  margin-bottom: 25px;
}

.header-btns {
    /*margin-top: 90px;*/
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited
{
    background: transparent;
    border-color: #129CF3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
     -o-transition: all 1s;
}
.btn-download:hover {
    background-color: #129CF3;
    color: #fff;    
}
.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited {
    color: #A9ADB0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
     -o-transition: all 1s;
    
}
.btn-tour:hover {
    color: #129CF3;
}
.btn-tour i {
    font-size: 20px;
    padding-left: 5px;
    color: #129CF3;
}
/* ========= Project Image Slider ============= */

/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  }
  .carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
  .carousel-control .next { margin-right: -15px; right: 50%; } /* Next */


/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}


/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  


/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
  }

/* ========= About ============= */
.about-me-img {
  border-radius: 12px;
}

.about-me-p {
  font-size: 18px;
}


/* ========= Footer =========*/
.footer {
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #129CF3;
}
.copyright p {
	padding: 9px 15px;
    color: #B5B5B5;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
.copyright p a {
    text-decoration: none;
    color: #129CF3;
}
.scroll-top {
    text-align: right;
}
.scroll-top a {
    background-color: #129CF3;
    padding: 25px;
}
.scroll-top a i {
    color: #fff;
    font-size: 25px;
}

.about-me-wrapper {
  padding-bottom: 50px;
}
